<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 
  <connectionStrings>
    <add name="DepartmentEntities" connectionString="metadata=res://*/Department.csdl|res://*/Department.ssdl|res://*/Department.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POLINA-PC;initial catalog=SPUTNIK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>